{% extends 'base.html' %}

{% block content %}

{% for product in products.all %}
<div class="row pb-3">
  <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor:pointer;">


    <img src="{{ product.image.url }}" class="img-fluid">
  </div>
  <div class="col-6" onclick="window.location={% url 'detail' product.id %};" style="cursor:pointer;">
<h3>{{ product.title }}</h3>
<h6>{{ product.summary }}</h6>
  </div>
  <div class="col-2">
  <a href="javaScript:{document.getElementById('upvote{{ product.id }}').submit()} "><button class="btn btn-primary btn-block btn-lg "><span class="oi oi-thumb-up"></span>Upvote {{ product.votes_total }}</button></a>
  </div>

</div>
<form id="upvote{{ product.id }}" action="{% url 'upvote' product.id %}" method="post">
  {% csrf_token %}
  <input type="hidden">
</form>

{% endfor %}
{% endblock %}
